$mainbluecolor:#353541;
$greytext:#B8B8BD;
$darkgreytext: #3E3E3E;
$salmonred: #FB6470;
$aquaticblue: #32BEC7;
$iconbluegrey:#BCC9CE;
$headergreytext: #686868;
$middlegreytext: #9E9E9E;
$greybg: #F4F1F4;
$middledarkgrey: #746868;
$socialbg: #889EA8;